/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/* Reset */

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

li {
	list-style-type: none;
}

/* Logo */

.logo-wrap {
	text-align: center;
	width: 240px;
	margin: auto;
}


.logo {
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	background:#c81e2b;
	font-size: xx-large;
	font-weight: bold;
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f04349), to(#c81e2b));
	background:-moz-linear-gradient(#f04349, #c81e2b);
	background:-o-linear-gradient(#f04349, #c81e2b);
	background:linear-gradient(#f04349, #c81e2b);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.logo a{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	color:#fff;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.logo.top {
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#c81e2b), to(#f04349));
	background:-moz-linear-gradient(#c81e2b, #f04349);
	background:-o-linear-gradient(#c81e2b, #f04349);
	background:linear-gradient(#c81e2b, #f04349);
}

/* Notifications */

notifications div{
	text-align: center;
	width: auto;
	margin: 0px;
}

notifications p{
	padding: 10px;
}

notifications p.notice{
	background-color: #8dfdc6;
}

notifications p.alert{
	background-color: #fff7c1;
}

notifications p.error{
	background-color: #ffa18f;
}

/* Status */

status div {
	width: 860px;
	margin: auto;
}

status box {
	width: 400px;
}

status box.left {
	font-size: small;
	text-align: left;
}

status box.right {
	font-size: small;
	text-align: right;
	float: right;
	margin-top: 5px;
}



/* Forms */

div.main-form {
 text-align: center;
 clear: both;
 background-color: #e4e4e4;
 width: 400px;
 margin: auto;
 padding: 20px 50px;
 /* CSS3 */
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
 border-radius:10px;
}

div.form-botton-links{
	text-align: left;
	padding: 10px;
}


div.main-form input{
	margin-bottom: 10px;
}

div.main-form label{
	margin-bottom: 50px;
}


/* Library */

div.big-wrapper {
	width: 900px;
	margin: auto;
}


div.big-wrapper div.searchbox{
	width: 300px;
	float: right;
	margin-top: -50px;
	text-align: right;
}


library ul{
	display: inline-block;
}

library li{
	display: inline-block;
}



